name: CD
on:
  push:
    tags:
      - '*'
jobs:
  build:
    name: Build
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'deploy'))
    uses: ./.github/workflows/build.yml
    with:
      tags: |
        type=ref,event=branch
        type=ref,event=pr
        type=ref,event=tag
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=sha

  deploy:
    name: Deploy
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'deploy'))
    needs: [ build ]
    uses: ./.github/workflows/deploy.yml
    concurrency: ${{ github.ref }}-deploy
    secrets:
      project-id: ${{ secrets.PROJECT_ID }}
      workload-identity-provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      google_client_id: ${{ secrets.GOOGLE_CLIENT_ID }}
      google_client_secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
